/**
 * @file
 * Subtheme specific CSS.
 */

 .flexslider {
	border: none !important;
	border-radius: unset;
}
.flex-direction-nav a {
	height: 50px;
}
.flex-direction-nav a::before {
	color: rgba(55, 55, 55, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}


#header {
	position: relative;
	box-shadow: 0 0 10px rgba(188,188,188,.4);
}
.header {

} 
.headop {
}

#navbar-main {
	font-family: 'Readex Pro', sans-serif;
}

.site-name {
	margin: 10px;
	position: absolute;
	color: #034444;
	font-size: 1.9rem;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.navbar-nav {
	margin: 0 20px;
	padding: 0 20px;
}
.nav-link {
	font-family: Tajawal !important;
	color: rgb(60, 60, 60);
	font-weight: 500;
	font-size: 18px;
	margin: 0 1rem;
	text-decoration: underline wavy;
	text-underline-offset: 10px;
}
.nav-link:hover, .nav-link:focus {
	color: rgb(6, 128, 99) !important;
}
.navbar-brand {
	font-family: 'Rubik', 'Lateef', serif, sans-serif;
	font-weight: 800;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.64);
}

.breadcrumb-item a {
	color: #464646;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Lateef', serif;
}
.breadcrumb-item + .breadcrumb-item::before {
	float: right;
	color: #6c757d;
	content: var(--bs-breadcrumb-divider, "/");
}

#block-abng-cars-one-sndwqrqmalatsal p {
    margin-bottom: 0;
}
#block-abng-cars-one-sndwqrqmalatsal .content a {
    display: flex;
    padding-left: 5px;
    font-size: 21px;
    text-decoration: auto;
	color: #236803;
}
#block-abng-cars-one-sndwqrqmalatsal i {
	margin-right: 11px;
	font-size: 28px;
	color: #349707;
}

.view-slayd-shw-alsfht-alryysyt .views-field-body {
	position: absolute;
	bottom: 0px;
	color: #f2f2f2;
	text-align: center;
	font-size: 17px;
	width: 100%;
	height: 50px;
	background: #00000059;
}

#block-directory-ssdaa-main-menu .nav-link {
	color: white !important;
	font-size: 1.1rem !important;
	border-bottom: 3px solid #09d2d2;
	margin-left: 13px;
	padding: 9px 20px !important;
}

.header-bottom {
	text-align: center;
	color: white;
}
.header-bottom h1 {
	border-bottom: 5px double #09d2d25c;
	padding-bottom: 11px;
	width: 35%;
	margin: 150px auto 20px;
	font-weight: bold;
}

#content {
	margin-top: 0;
}
.view-header {
	margin: 3px 0 50px;
	text-align: center;
}
.bottom-title-border {
	width: 20%;
	border-bottom: 2px solid #03aaaa;
	margin: 15px auto;
}
.body-block-header {
	color: #4d4c4c;
	font-size: 21px;
}
#block-views-block-block-country-term-block-1,
#block-directory-ssdaa-views-block-block-brand-cars-block-1 {
	text-align: center;
	font-size: 1.1rem;
	color: #4d4c4c;
	background: #fafafa;
	padding: 30px 0;
}
#block-views-block-block-country-term-block-1 a,
#block-directory-ssdaa-views-block-block-brand-cars-block-1 a {
	color: #045b5b;
	text-decoration: none;
}
#block-views-block-block-country-term-block-1 h1 {
	color: #333;
	font-weight: 600;
}


.view-block-brand-cars {
	text-align: center;
}

.term-popular {
	background: #f2f2f2;
	margin: 3px;
	padding: 17px 0;
	border-radius: 5px;
}
.term-popular:hover {
	background: #03aaaa;
}
.term-popular .views-field-name {
	height: 100%;
}
.term-popular .field-content {
	height: 100%;
}

#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 {
	margin: 35px 0;
	padding: 30px;
	text-align: center;
}
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 img {
	width: 100%;
	height: 50px;
	display: list-item;
	margin: 15px auto;
	filter: invert(48%) sepia(91%) saturate(2005%) hue-rotate(145deg) brightness(90%) contrast(106%);
}
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 img:hover {
	filter: invert(95%) sepia(12%) saturate(72%) hue-rotate(130deg) brightness(99%) contrast(101%);
}
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 a {
	color: #045b5b;
	text-decoration: none;
}

#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 a:hover,
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 i:hover,
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 img:hover {
	color: #f0f8f8;
	text-decoration: none;
}
#block-abng-cars-one-views-block-block-menu-alaqsam-alshay-h-block-1 i {
	color: #03aaaa;
	width: 100%;
	font-size: 40px;
	padding: 20px;
}
.title-block-home {
	color: #034f32;
	font-weight: 600;
	font-size: 2.5rem;
}


#block-abng-cars-one-views-block-afdl-almwaq-block-1,
.page-sell-cars, #block-abng-cars-one-views-block-akhr-alakhbar-block-1  {
	text-align: center;
}
#block-abng-cars-one-views-block-afdl-almwaq-block-1 a,
.page-sell-cars a,
#block-abng-cars-one-views-block-akhr-alakhbar-block-1 a {
	text-decoration: none;
	color: #045b5b;
}
#block-abng-cars-one-views-block-afdl-almwaq-block-1 .views-row {
	padding: 30px;
}
#block-abng-cars-one-views-block-afdl-almwaq-block-1 .col {
	margin: 10px 15px;
	padding: 10px 0;
}
#block-abng-cars-one-views-block-afdl-almwaq-block-1 .views-field-field-image, 
.page-sell-cars .views-field-field-image,
#block-abng-cars-one-views-block-akhr-alakhbar-block-1 .views-field-field-image {
	padding: 5px 0 0;
	margin-bottom: 12px;
}
#block-abng-cars-one-views-block-afdl-almwaq-block-1 .views-field-view-node,
.page-sell-cars .views-field-title,
#block-abng-cars-one-views-block-akhr-alakhbar-block-1 .views-field-view-node {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 10px;
	font-family: Tajawal !important;
	font-weight: 600;
}
#block-abng-cars-one-views-block-akhr-alakhbar-block-1 

#block-directory-ssdaa-breadcrumbs {
	margin: 20px 0 0;
}
#block-directory-ssdaa-breadcrumbs a {
	text-decoration: none;
	color: #045b5b;
}
#block-directory-ssdaa-breadcrumbs  li:first-child {
	padding-left: 0 !important;
	padding-right: 4px !important;
	margin-right: 0 !important;
}

.footer-social-icons {
	list-style: none;
	display: flex;
	justify-content: center;
}
.footer-social-icons img {
	width: 28px;
	height: 28px;
}
.footer-social-icons li {
	text-align: center;
	margin: 0 5px;
}
.site-footer {
	padding: 35px 0 0 !important;
}
#block-abng-cars-one-alaqsamalshayh {
	list-style: none;
}
#block-abng-cars-one-alaqsamalshayh a {
	color: #fbfafa;
	text-decoration: none;
}
#block-abng-cars-one-alaqsamalshayh {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	font-size: 20px;
}
[dir="rtl"] .site-footer__bottom .menu-item a {
	border-left: none; 
}
.site-footer__bottom .block {
	margin: 0 0 0.5em;
}
#block-abng-cars-one-sndwqalmwaqalajtmayt .field--name-body {
	padding: 14px 5px;
}
/**
 * taxonomy.
 */
.taxonomy-page {
	margin: 20px 0;
} 
.taxonomy-page a {
	text-decoration: none;
	color: #027777;
}
.taxonomy-page .view-header {
	margin: 3px 0 5px;
}
.taxonomy-page-teaser {
	border: 1px #d7d7d7 solid;
	margin: 10px;
	border-radius: 5px;
	padding: 0 !important;
}
.field--name-title {
	margin: 20px 0;
	padding: 14px 5px;
	display: block;
	border-bottom: 1px #acacac solid;
	font-weight: bold;
	color: #027777;
}
.field--name-body {
	padding: 14px 5px;
}


.field--name-field-aldwlh, .field--name-field-tqyym-almwq- {
	margin-left: 10px;
	float: right;
	border-left: 1px #ccc solid;
	padding-left: 10px;
	height: 27px;
}
.field--name-field-url-website a {
	text-decoration: none;	
}
.field--name-field-url-website a::before {
	font-family: "FontAwesome";
	content: "\f0c1";
	position: relative;
	margin-right: 8px;
}
.field--name-field-aldwl .field--name-name {
    float: right;
}
.field--name-field-aldwlh a {
    text-decoration: none;
}
.field--name-field-aldwlh a::before {
	font-family: "FontAwesome";
	content: "\f022";
	float: right;
	margin: 0 5px;
}
.field--name-field-aldwlh .field--name-name {
	margin-right: 10px;
	line-height: 0;
	display: contents;
}
.node--type-directory .node--view-mode-full .field--name-field-image img {
	border-radius: 10px;
	border: 5px #d3d5d5 solid;
}


.inline__links {
}
/**
 * fix rtl CSS.
 */
[dir="rtl"] .form-select {
	background-position: left .75rem center;
}
[dir="rtl"] table.treetable tr span.indenter {
	margin-left: 19px;
}
[dir="rtl"] .breadcrumb-item + .breadcrumb-item::before {
	padding-left: var(--bs-breadcrumb-item-padding-x);
}
[dir="rtl"] div.fivestar-widget .cancel, div.fivestar-widget .star {
	float: right;
}

.field--name-field-lwn-alsyart .field__items {
	display: flex;
}

.field__label::after {
	content: " : ";
}

.node--view-mode-full img {
	border-radius: 9px;
	border: 2px solid #b7b7b7;
}
.block-field-blocknodesyarhtitle {
	font-size: 24px;
}
.block-field-blocknodesyarhfield-s-r-alsyarh,
.block-field-blocknodesyarhfield-markt-alsyarh,
.block-field-blocknodesyarhfield-lwn-alsyart,
.block-field-blocknodesyarhfield-nw-alwqwd,
.block-field-blocknodesyarhfield-halt-alsyarh,
.block-field-blocknodesyarhfield-almntqt {
	font-size: 22px;
	font-weight: 500;
}

.views-field-field-halt-alsyarh,
.views-field-field-halt-alsyarh .field-content,
.views-field-field-s-r-alsyarh,
.views-field-field-s-r-alsyarh .field-content,
.views-field-field-lwn-alsyart,
.views-field-field-lwn-alsyart .field-content {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-family: Tajawal !important;
	font-weight: 500;
	color: #08a8a8;
}
.views-field-field-lwn-alsyart .field-content {
	padding: 3px;
	margin: 3px;
}
.color-pickr-circle {
	border: 1px solid #b6b8b9;
	display: inline-block;
}

.card-img-top {
}
.card-img-top img {
	border: 2px solid #fff;
	box-shadow: 10px 4px 30px #ccc;
	border-radius: 10px;
}


#views-exposed-form-page-sell-cars-page-1 .js-form-item-field-markt-alsyarh-target-id,
#views-exposed-form-page-sell-cars-page-1 .js-form-item-field-halt-alsyarh-value,
#views-exposed-form-page-sell-cars-page-1 .form-item-sort-by {
	margin-left: 10px;
}
#views-exposed-form-page-sell-cars-page-1  .form-select {
	display: unset;
	width: 100%;
}
#views-exposed-form-page-sell-cars-page-1  .form-actions {
	margin: 0 10px;
}
#views-exposed-form-page-sell-cars-page-1 .d-flex {
	justify-content: center;
	margin: 3rem 0;
	border-bottom: 1px dotted #737373;
}
#views-exposed-form-page-sell-cars-page-1 label {
	font-size: 18px;
}
figure {
	margin: 1rem;
	clear: both;
}

.featured-bottom {
	background: #028681;
  }
  #block-abng-cars-one-views-block-akhr-alakhbar-sfht-alakhbar-block-1{
	color: white;
  }
#block-abng-cars-one-views-block-akhr-alakhbar-sfht-alakhbar-block-1 .views-field-view-node {

	height: 100%;
}
#block-abng-cars-one-views-block-akhr-alakhbar-sfht-alakhbar-block-1 .views-field-view-node > a.field-content {
	color: #09d2d2;
}
#block-abng-cars-one-views-block-akhr-alakhbar-sfht-alakhbar-block-1 .views-field-created {
	position: absolute;
	bottom: 58px;
	right: 15px;
}
#block-abng-cars-one-views-block-akhr-alakhbar-sfht-alakhbar-block-1 .views-field-body {

	padding: 10px 0;
}
.news-card-item-title {
	position: absolute;
	bottom: 3px;
	right: 4px;
	left: 3px;
}
.field-back {
	background: linear-gradient(180deg,rgba(0,0,0,0) 10%,#000 100%);
	border-radius: 5px;
	height: 50px;
}
.field-back {
	background: linear-gradient(180deg,rgba(0,0,0,0) 10%,#000 100%);
	border-radius: 5px;
	height: 65px;
	color: antiquewhite;
	padding: 15px;
}
